<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Naver webtoon 모아보기</h1>
        <table>
        <thead>
            <tr>
                 <th>썸네일</th>
                 <th>웹툰 제목</th>
                 <th>웹툰 링크</th>    
            </tr>
        </thead>
        <tbody>
            {% for i in t %}
            <tr>
                <td>
                <image src = "{{i['img_url']}}">
                    
                </image>
                </td>
                <td>{{i['title']}}</td>
                <td><a href = "{{"https://comic.naver.com"+i['url']}}">{{i['title']+" 볼래? 클릭"}}
                
                </a></td>
            </tr>
            {% endfor %}

            
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
        
        </table>
    </body>
</html>

